.body{
	color: #fff;
	padding: 15px;
	margin-top: 20px;
	font-weight: bold;
	border-radius: 8px;
    background: linear-gradient(160deg,hsla(186, 83%, 61%, 0.945),rgb(39, 80, 116),rgb(16, 8, 66));
    font-family: 'Merriweather', serif;
}
.header {
    font-size: 50px;
    margin : auto;
}

.btn {
    position: relative;
    margin : 4%;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    text-align: center;
    color: blue;
}

.icon {
    font-size: 150px;
    position: relative;
    margin-top: 10%;
    text-align: right;

}
.city {
    font-size: 50px;
    font-family: 'Merriweather', serif;
}
.description {
    font-size: 30px;
    font-family: 'Merriweather', serif;
}
.temp {
    font-size: 40px;
    font-family: 'Merriweather', serif;
}
.time {
    text-align: right;
    font-size: 30px;
}